@use "../utils/mixin";

.ingredients {
  &__title {
    @include mixin.section-title;
  }

  &__list {
    @include mixin.default-list;
  }

  &__item {
    align-items: center;
    display: flex;
    margin-left: 8px;
    line-height: 1.5;

    &::before {
      @include mixin.bullet-icon(var(--brown-800));
    }
  }
}
