@use "../utils/mixin";

.instructions {
  &__title {
    @include mixin.section-title;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
  }

  &__item {
    counter-increment: ingredient;
    display: flex;
    margin-left: 8px;
    line-height: 1.5;

    &::before {
      color: var(--brown-800);
      content: counter(ingredient) ".";
      display: inline-block;
      font-weight: 700;
      margin-right: 18px;
      min-width: 14px;
    }
  }
}
