.nutrition {
  &__title {
    color: var(--brown-800);
    font-size: 28px;
    margin-bottom: 23px;
    line-height: 1;
  }

  &__description {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 30px;
  }
}
