@use "../utils/mixin";

.preparation {
  background-color: var(--rose-50);
  border-radius: 14px;
  margin-bottom: 32px;
  padding: 24px;

  &__title {
    color: var(--rose-800);
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 14px;
  }

  &__list {
    @include mixin.default-list;
  }

  &__item {
    align-items: center;
    display: flex;
    margin-left: 8px;

    &::before {
      @include mixin.bullet-icon(var(--rose-800));
    }
  }

  &__time {
    line-height: 1.5;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 34px;
    padding: 24px 28px 28px;
  }
}
