.preparation {
  background-color: var(--rose-50);
  border-radius: 14px;
  padding: 24px;

  &__title {
    color: var(--rose-800);
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 14px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
  }

  &__item {
    align-items: center;
    color: var(--stone-600);
    display: flex;
    margin-left: 8px;

    &::before {
      background-color: var(--rose-800);
      border-radius: 50%;
      content: "";
      display: inline-block;
      height: 4px;
      margin-right: 28px;
      width: 4px;
    }
  }

  &__time {
    line-height: 1.5;
  }
}
