@mixin section-title {
  color: var(--brown-800);
  font-size: 1.75rem;
  margin-bottom: 23px;
  line-height: 1;
}

@mixin default-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

@mixin bullet-icon($color) {
  background-color: $color;
  border-radius: 50%;
  content: "";
  display: inline-block;
  margin-right: 28px;
  min-height: 4px;
  min-width: 4px;
}

@mixin number-icon($color, $counter-name) {
  color: $color;
  content: counter($counter-name) ".";
  display: inline-block;
  font-weight: 700;
  margin-right: 18px;
  min-width: 14px;
}
